<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

    <h1>Register</h1>

    <form method="POST">
        {% csrf_token %}

        <label>First Name:</label><br>
        <input type="text" name="first_name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <label>Phone:</label><br>
        <input type="text" name="phone"><br><br>

        <label>Address:</label><br>
        <input type="text" name="address"><br><br>

        <label>City:</label><br>
        <input type="text" name="city"><br><br>

        <label>State:</label><br>
        <input type="text" name="state"><br><br>

        <label>Zip Code:</label><br>
        <input type="text" name="zipcode"><br><br>

        <label>User Type:</label><br>
        <select name="user_type">
            <option value="client">Client</option>
            <option value="provider">Provider</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>

    <hr>

    <p>
        <a href="/">Home</a> |
        <a href="/login/">Login</a>
    </p>

</body>
</html>